<header class="heading m-40" fxLayout="row" fxLayoutAlign="start">
  <div fxFlex="50" fxLayoutAlign="start center">
    <figure class="heading__logo">
    <img src="assets/doughco.svg" alt="logo" />
      <img class="mb-6"src="assets/svg.svg" alt="Color Dot" />
    </figure>
  </div>
  <div fxFlex="50" fxLayoutAlign="end center">
    <mat-nav-list fxLayout="row">
      <mat-list-item class="heading__navbar--fs" *ngFor="let link of links">
        <a matLine href="...">{{ link }}</a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</header>
<section class="main-body">
  <div fxLayout="row" fxLayoutAlign="center" class="mx-60">
    <div fxFlex="50" class="figure-block">
      <mat-list fxLayout="column" fxLayoutAlign="center" role="list">
        <mat-list-item  class="figure-block__item" role="listitem"><a href="" class="active"><img class="figure-block__item--background" src="assets/Image%20(1).svg" alt="Img Option One" /></a></mat-list-item>
        <mat-list-item  class="figure-block__item" role="listitem"><a href=""><img class="figure-block__item--background" src="assets/Image%20(2).svg" alt="Img Option Two" /></a></mat-list-item>
        <mat-list-item  class="figure-block__item" role="listitem"><a href=""><img class="figure-block__item--background" src="assets/Image%20(3).svg" alt="Img Option Three" /></a></mat-list-item>
      </mat-list>
      <img class="figure-block__fullimage" src="assets/Image.svg" alt="Doughnut Image" />
    </div>
    <div fxFlex="50" class="text-block">
      <h1 class="text-block__heading--highlight">Strawberry Iced<br/> With Sprinkles</h1>
      <p class="text-block__subhead--highlight">Our glazed doughnut is dipped in strawberry icing and<br/> topped with festive rainbow sprinkles.</p>
      <table>
        <tr>
          <th>Calories</th>
          <th>Sugar</th>
          <th>Total Fat</th>
          <th>Sodium</th>
        </tr>
        <tr>
          <td><b>11g</b></td>
          <td><b>210</b></td>
          <td><b>5g</b></td>
          <td><b>85mg</b></td>
        </tr>
      </table>
      <div class="text-block__buttons">
        <button mat-flat-button class="text-block__buttons--color">-  1 +</button>
        <button mat-flat-button class="text-block__buttons--background">Add to Cart</button>
      </div>
    </div>
  </div>
</section>
