
$primary-color: #FE707B;
$secondary-color: #ffffff;
$small-size: 14px;
.mb-6 {
  margin-bottom: 6px;
}
.m-40 {
  margin: 40px 40px 0;
}
.mx-60 {
  margin: 50px 60px 0;
}
.heading {
  background: $secondary-color;
  border-radius: 4px;
  line-height: 16px;
  &__logo {
    margin: 20px 40px;
  }
  &__navbar--fs {
    font-size: $small-size;
    height: 38px !important;
    padding: 0 15px !important;
  }
  &__navbar--fs:last-child {
    border: 2px solid $primary-color;
    border-radius: 10px;
    margin: 0 40px 0 20px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
.main-body {
  background: url('~src/assets/strawberry.svg') no-repeat center bottom;
  background-size: contain;
  padding-bottom: 30px;
}
.figure-block {
  display: flex;
  &__item {
    margin: 20px 0;
  }
  &__item--background {
    background: $secondary-color;
    padding: 10px;
    border-radius: 50%;
  }
  &__item a.active &__item--background, &__item a:hover &__item--background {
    border: 1px solid $primary-color;
  }
}
.text-block {
  &__heading--highlight {
    font-size: 56px;
    font-weight: 900;
    color: $primary-color;
    line-height: 65px;
    letter-spacing: 3px;
    padding-top: 50px;
  }
  &__subhead--highlight {
    font-size: 18px;
    font-weight: 900;
    line-height: 34px;
  }
  &__buttons {
    &--color {
      color: $primary-color;
    }
    &--background {
      background: $primary-color;
      color: $secondary-color;
      margin-left: 30px;
      width: 60%;
    }
  }
}
table {
  width: 80%;
  margin: 30px 0;
}
table th {
  text-align: left;
}


