/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { background-image: linear-gradient(#FBE5E1, #FDF4F2);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
